VIRTUAL_HOST=dockerized-magento.local

M2SETUP_USE_SAMPLE_DATA=true
M2SETUP_BASE_URL=http://dockerized-magento.local/
M2SETUP_SECURE_BASE_URL=https://dockerized-magento.local/

MAGENTO_RUN_MODE=developer
PHP_MEMORY_LIMIT=2048M
PHP_ENABLE_XDEBUG=false
UPDATE_UID_GID=false
ENABLE_SENDMAIL=false
DEBUG=true
